# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
plaques.json
public/*.png
venv
*.pdf
*.zip
__pycache__
src/plaques.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/plaques.json
credentials.json
src/credentials.json
token.json
src/token.json
